<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Full Stack</title>
</head>
<body>
    <h1>Programación Web Full Stack</h1>

    <h2>herramientas principales de un desarrollador web full stach</h2>

    <img src="/images/programacion-web.jpg" alt="Imagen de programación">

    <p>La demanda de creación de páginas web cada día va en aumento. Los empresarios lo saben y, por ello, los puestos de desarrollador web abarrotan las bolsas de trabajo, pues son un pilar para el marketing digital. Esto se traduce en saber aplicar las mejores herramientas de desarrollo web, las cuales cambian y se actualizan de manera constante.</p>

    <p>Hoy en día, debido a la pandemia, las exigencias por los sitios web han aumentado, ya que son la única alternativa para realizar compras. En pocas palabras, un desarrollador web tiene el trabajo de atrapar la atención del usuario y brindar una experiencia positiva durante su navegación. </p>

    <h2>Indice</h2>

    <ol>
        <li><a href="https://www.google.com/"></a> ¿Qué es el desarrollo web?</li>
        <li>Las 5 diferencias entre diseño web y desarrollo web</li>
        <li>Tipos de desarrollo web</li>
        <li>¿Cuáles son las herramientas de desarrollo web?</li> 
        <li>Herramientas de desarrollo web, commerce y la pandemia</li> 
        <li>Recomendaciones de desarrollo web para las empresas</li>
 
    </ol>
</body>
</html>